@font-face {
  font-family: "History Sans";
  src: url("../fonts/DejaVuSans.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: "History Sans";
  src: url("../fonts/DejaVuSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700 900;
  font-display: block;
}

@font-face {
  font-family: "History Serif";
  src: url("../fonts/DejaVuSerif.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: "History Serif";
  src: url("../fonts/DejaVuSerif-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700 900;
  font-display: block;
}
